*/output
.idea
.vscode
venv

*.zst
*.log
*.tar*
*.gz
*.tgz

!tranco/info.json

.mypy_cache
__pycache__
output
_gh_token
.ipynb_checkpoints
*.sqlite3
.DS_Store
/2-1.seleniumShimmer/tmp
2-4.awwwards/**/*.html
*.png
*.jpg
*.pkl
*.zstd
4-2.WWW/raf/input/raf
4-2.WWW/performance/input
4-2.WWW/performance/input
2-9.playwright/pnpm-lock.yaml

node_modules
1-3.WebGPU/aws/canvas-type/*.json
1-3.WebGPU/aws/canvas-type/*.txt
1-3.WebGPU/github/output*/*.json
1-3.WebGPU/tsconfig.tsbuildinfo
1-3.WebGPU/dist
1-3.WebGPU/output_test
1-3.WebGPU/output-linux
1-3.WebGPU/output-windows
package-lock.json
