[submodule "2-1.seleniumShimmer"]
	path = 2-1.seleniumShimmer
	url = git@github.com:maghsk/WES-seleniumShimmer.git
[submodule "3.Analysis"]
	path = 3-0.Analysis
	url = git@github.com:maghsk/WES-Analysis.git
[submodule "3-2.AnalyzeTraces"]
	path = 3-2.AnalyzeTraces
	url = git@github.com:maghsk/WES_3-2_AnalyzeTraces.git
[submodule "2-3-1.spector"]
	path = 2-3-1.spector
	url = git@github.com:maghsk/WES-spector.git
[submodule "3-5.parseGlsl"]
	path = 3-5.parseGlsl
	url = git@github.com:maghsk/WES_parse-glsl.git
[submodule "2-3.seleniumCrawler"]
	path = 2-3.seleniumCrawler
	url = git@github.com:maghsk/WES-seleniumShimmer.git
[submodule "2-7.webglCapture"]
	path = 2-7.webglCapture
	url = git@github.com:maghsk/webgl-capture.git
[submodule "2-8.networkCapture"]
	path = 2-8.networkCapture
	url = git@github.com:maghsk/WES_Capture-HAR.git
[submodule "3-6.GLpipeline/spector-v0.9.27"]
	path = 3-6.GLpipeline/spector-v0.9.27
	url = https://github.com/BabylonJS/Spector.js.git
