*/output
.idea
.vscode
venv

*.zst
*.log
*.tar*
*.gz
*.tgz

!tranco/info.json

.mypy_cache
__pycache__
output
_gh_token
.ipynb_checkpoints
*.sqlite3
.DS_Store
/2-1.seleniumShimmer/tmp
2-4.awwwards/**/*.html
*.png
*.jpg
*.pkl
*.zstd
4-2.WWW/raf/input/raf
4-2.WWW/performance/input
4-2.WWW/performance/input
2-9.playwright/pnpm-lock.yaml

node_modules
