*/output
.idea
.vscode

*.json
*.zst
*.log
*.tar*
*.gz

!tranco/info.json

.mypy_cache
__pycache__
output
_gh_token
.ipynb_checkpoints
*.sqlite3
.DS_Store
/2-1.seleniumShimmer/tmp
2-4.awwwards/**/*.html
*.png
*.jpg
