{
    "startup_duration": 10,
    "startup_format": "json",
    "record_mode": "record-until-full",
    "enable_systrace": true,
    "enable_sampling": true,
    "result_file": "/Users/hanyd/.tmpdisk/OUTPUT/tracing/0_ok.json",
    "included_categories": [
        "base",
        "benchmark",
        "blink",
        "browser",
        "cc",
        "cpu_profiler",
        "disabled-by-default-cpu_profiler.debug",
        "disabled-by-default-cpu_profiler",
        "disabled-by-default-gpu_cmd_queue",
        "disabled-by-default-gpu.dawn",
        "disabled-by-default-gpu.debug",
        "disabled-by-default-gpu.decoder",
        "disabled-by-default-gpu.device",
        "disabled-by-default-gpu.service",
        "disabled-by-default-ipc.flow",
        "disabled-by-default-memory-infra.v8.code_stats",
        "disabled-by-default-memory-infra",
        "disabled-by-default-mojom",
        "disabled-by-default-toplevel.flow",
        "disabled-by-default-toplevel.ipc",
        "disabled-by-default-v8.cpu_profiler",
        "gpu.angle",
        "gpu",
        "gpu.capture",
        "input",
        "ipc",
        "loading",
        "log",
        "memory",
        "mojom",
        "navigation",
        "native",
        "net",
        "netlog",
        "scheduler",
        "sequence_manager",
        "toplevel.flow",
        "toplevel",
        "ui",
        "v8.execute",
        "v8.wasm",
        "v8",
        "views",
        "viz"
    ],
    "excluded_categories": [
        "*"
    ],
    "memory_dump_config": {
        "allowed_dump_modes": [
            "background",
            "light",
            "detailed"
        ],
        "triggers": [
            {
                "min_time_between_dumps_ms": 500,
                "mode": "detailed",
                "type": "periodic_interval"
            },
            {
                "min_time_between_dumps_ms": 50,
                "mode": "light",
                "type": "periodic_interval"
            }
        ]
    }
}