node_modules/
/test-results/
/playwright-report/
/playwright/.cache/
*.har
*.zst
*.zstd
.idea
.vscode
*.error.txt
.DS_Store
output
/test-results/
/playwright-report/
/playwright/.cache/
/test-results/
/playwright-report/
/playwright/.cache/
traces